
.ha-header {
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 50;
	font-family: 'Lato', Arial, sans-serif;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header-hide {
	height: 220px;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.ha-header-show {
	height: 63px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
